In [1]:
import os
import math
import numpy as np
import pandas as pd
import pywt
import matplotlib.pyplot as plt
from scipy.signal import argrelextrema, find_peaks
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter, AutoMinorLocator)
import cv2
import glob
import scipy.stats as stats

import random

In [2]:
all_state_change_point_record = pd.read_csv('./data_save/all_state_change_point_record.csv', header=0)
all_synthetic_trj = pd.read_csv('./data_save/all_synthetic_trj.csv', header=0)

In [3]:
all_state_change_point_record

,Unnamed: 0,veh_id,test_acc,test_dec,test_jerk,change_point_time_1,change_point_time_2,zero_acc_time,mid_change_point_time,state_change_label
0,0,0,1.0,-,0.5,6.000000,8.0,8.0,7.000000,0
1,0,1,1.0,-,1.0,7.000000,8.0,8.0,7.500000,0
2,0,2,1.0,-,1.5,7.333333,8.0,8.0,7.666667,0
3,0,3,1.0,-,2.0,7.500000,8.0,8.0,7.750000,0
4,0,4,1.0,-,2.5,7.600000,8.0,8.0,7.800000,0
...,...,...,...,...,...,...,...,...,...,...
995,0,995,-,-1.0,0.5,9.500000,11.5,11.5,10.500000,4
996,0,996,-,-1.0,1.0,10.500000,11.5,11.5,11.000000,4
997,0,997,-,-1.0,1.5,10.833333,11.5,11.5,11.166667,4
998,0,998,-,-1.0,2.0,11.000000,11.5,11.5,11.250000,4
999,0,999,-,-1.0,2.5,11.100000,11.5,11.5,11.300000,4

In [4]:
all_synthetic_trj

,Unnamed: 0,veh_id,local_time,position,speed,acceleration,state_change_label
0,0,0,0.0,0.0000,0.0,1.0,0
1,1,0,0.1,0.0050,0.1,1.0,0
2,2,0,0.2,0.0200,0.2,1.0,0
3,3,0,0.3,0.0450,0.3,1.0,0
4,4,0,0.4,0.0800,0.4,1.0,0
...,...,...,...,...,...,...,...
199995,195,999,19.5,63.8525,0.0,0.0,4
199996,196,999,19.6,63.8525,0.0,0.0,4
199997,197,999,19.7,63.8525,0.0,0.0,4
199998,198,999,19.8,63.8525,0.0,0.0,4
199999,199,999,19.9,63.8525,0.0,0.0,4